main {
    margin-top: 10rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: #2d3435d8;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
}

.numbers-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.numbers-container span {
    background-color: #fff;
    padding: 0 1rem;
    width: 130px;
    text-align: center;

    font-size: 3.5rem;
    font-weight: 500;
    color: #2d3435;

    border-radius: 6px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

button {
    margin-top: 2rem;

    background-color: #22c55e;
    padding: 0.875rem 2rem;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    color: #fff;


    border: none;
    border-radius: 6px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

    transition: transform 0.3s, filter 0.3s;
}

button:hover {
    transform: scale(1.05);
    filter: brightness(1.05);
    cursor: pointer;
}

button:focus {
    transform: scale(1.05);
    filter: brightness(1.05);
    outline: 2px solid #14532d;
}